include LICENSE
include README.rst
include pytwitterwall/static/bootstrap.min.css
include pytwitterwall/templates/pytwitterwall.html
include conf/auth.cfg
recursive-include tests/fixtures *
recursive-include tests *.py

recursive-include docs *
recursive-exclude docs/_build *
